/* Bio component CSS */
.bio-body {
    height: 100vh;
    padding: 0;
    background-color: black;
}

.img-container {
    width: calc(100vw/3);
    height: inherit;
}

.img-sizing {
    width: inherit;
    height: inherit;
    object-fit:cover;
}

.chinese-text {
    font-weight: lighter;
    font-size: 1.8em;
}

.bio-link {
    text-decoration: none;
    color: white;
}

.bio-link:hover {
    color: rgba(255, 255, 255, 0.6);
}