/* Bio component CSS */
.bio-body {
    height: 100vh;
    padding: 0%;
    background-color: black;
    /* height at 94vh to account for navbar (6vh)*/
}

.img-container {
    width: 100%;
    height: 100%;
}

.img-sizing {
    height: auto;
    width: 100%;
    object-fit: cover;
}