/* Hover overlay CSS */
.hov-container {
    position: relative;
    width: 100%;
}

.hov-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000af;
}

.hov-container:hover .hov-overlay{
    opacity: 1;
}

/* For media query: when screen size is small, set opacity in hov-container and hov-overlay to 1 (always opaque) */

.hov-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: start;
    width: 80%;
}

/* Bio component CSS */
.bio-body {
    height: 96vh;
    padding: 0%;
    background-color: black;
    /* height at 96vh to account for navbar */
}

.img-container {
    width: 100%;
    height: 100%;
}

.img-sizing {
    height: 96vh;
    object-fit: cover;
}