.pedestal {
    width: 100%;
    height: 50;
}

.item-box {
    width: 100%;
    height: 100%;
}

.placeholder-item {
    display: flex;
    background-color: black;
    color: white;
    font-size: 3em;
    font-style: italic;
    font-weight: 100;
    align-items: center;
    justify-content: center;
}

.image-sizing{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Portfolio grid */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}