.port-container {
    margin-top: 0;
    height: 95vh;
    overflow: auto;
}

.pedestal {
    width: 100%;
    height: 50;
}

.item {
    width: 50%;
    margin: 0;
    padding: 0;
}
/* Add media query to update item width to 100% on medium and small screens */

.item-fit {
    object-fit: cover;
}

.placeholder-item {
    color: white;
}