#root {
  width: 100%;
}

/* Navbar CSS */
.primary-header {
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.90);
  height: 6vh;
  position: fixed;
  top: 0;
  width: 100%;
}
.primary-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: var(--gap, 1.5rem);
  margin-right: 4rem;
}

.primary-nav-link {
  text-decoration: none;
  color: white;
  font-style: italic;
  font-size: 1.3rem;
  font-weight: 200;
}

.primary-nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.logo {
  margin: 2rem;
  width: 4rem;
  height: auto;
  margin-left: 4rem;
}

/* Main grid layout */
.main-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Hover overlay CSS */
.hov-container {
  position: relative;
  width: 100%;
}

.hov-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000af;
}

.hov-container:hover .hov-overlay{
  opacity: 1;
}

/* For media query: when screen size is small, set opacity in hov-container and hov-overlay to 1 (always opaque) */

.hov-text {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: start;
  width: 80%;
}

.icon-size {
  height: 6rem;
  width: auto;
  margin: 1rem 2.5rem 0 0;
}

.hov-container h1 {
  font-weight: bold;
}

.hov-container div {
  margin-bottom: 1rem;
}

.hov-container a {
  font-weight: bold;
}

/* Hover overlay for non-pedestal items */
.item-box .hov-text {
  font-size: 1rem;
}

.item-box h1 {
  font-size: 1.5rem;
}

.item-box .icon-size {
  height: 4rem;
  width: auto;
  margin: 0.5rem 1.5rem 0 0;
}